.subinfo {
    font-size: 0.8rem;
    color: grey;
}

.col-x {
    width: 1rem;
}

.col-speed {
    width: 5rem;
}

.col-progress {
    flex: 1;
}

.row-progress {
    display: flex;
}

.torname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

dialog {
    padding: 0;
    border: none !important;
    /* !important used here to override polyfill CSS, if loaded */
    border-radius: calc(5px * 3.75);
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
}

.btn-del-folder{
    cursor: pointer;
}

.btn-del{
    cursor: pointer;
}